        /* Polices */

@font-face
{
    font-family: 'Raleway';
    src: url('web_fonts/Raleway.ttf');
}

html
{
    font-family: 'Raleway', 'Arial', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

        /* En tête */

.container_logo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 3%;
}

    .logo
    {
        margin-top: 5px;
    }

    .nav_menu
    {
        display: flex;
    }

        .nav_menu ul
        {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;
        }
            .menu
            {
                display: block;
                padding: 30px;
                text-decoration: none;
                margin-right: 48px;
            }

            .menu:focus
            {
                border-top: 2px #0065FC solid;
                color: #0065FC;
            }

            .menu:hover
            {
                color: #0065FC;
            }

h1
{
    margin-left: 3%;
	font-size: 22px;
}

header p
{
    margin-left: 3%;
	margin-top: 16px;
	font-size: 16px;
}

        /* Barre de recherche */

.container_recherche
{
	display: flex;
	align-items: flex-start;
    padding-left: 3%;

}

    form 
    {
        display: contents;
    }

	.géoloc
    {
		background-color: #F2F2F2;
		border-radius: 30% 0% 0% 30%;
		padding-right: 19px;
		padding-left: 19px;
		padding-top: 1%;
		padding-bottom: 0.55%;
    }

	input
    {
		border-color: #F2F2F2;
		width: 17%;
		padding: 0.71%;
    }

	.recherche
    {
		font-size: 15px;
		font-weight: bold;
        width: 8%;
		padding: 0.6%;
		border-radius: 0px 16px 16px 0px;
		background-color: #0065FC;
		color: white;
        border-color: #F2F2F2;

    }

    .recherche:hover
    {
        color: #DEEBFF;
    }

            #search_responsive
            {
                display: none; 
            }

	::placeholder 
    {
		font-size: 16px;
		color: black;
		font-weight: bold;
	  	padding-left: 8px;
    }

        /* Filtres */

.filtres
{
    display: flex;
	flex-wrap: wrap;
	align-items: center;
    padding-top: 2%; /* */
    margin-left: 3%;
}
	
    .filtres span
    {
		font-size: 18px;
		font-weight: bolder;
		margin-right: 1.5%;
    }

	.filtres i
    {
		padding: 9px;
		margin-right: 15px;
		border-radius: 128px;
		color: #0065FC;
		background-color: #DEEBFF;
    }

    .filtres button
    {
    	border: 2px solid #F2F2F2;
		font-weight: bold;
		background-color: white;
		border-radius: 1000px;
		overflow: hidden;
		font-size: 16px;
		height: 38px;
		margin-left: 30px;
        padding-top: 0px;
		padding-left: 0px; 
        padding-right: 15px;
    }

        button:hover
        {
            color: #0065FC;
        }

        /* Information */

.info
{
    padding-top: 0.5%;
	display: flex;
	margin-top: 30px;
    margin-left: 3%;
}

    .info i /* a revoir */
    {   
        color: #0065FC;
        border-color: #F2F2F2;
    }

	.info p
    {
		font-size: 16px;
		padding-left: 13px;
		margin: 0px;
    }

        /* Bloc Principal */

#main_bloc
{
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 3%;
}

        /* Hébergements à Marseille */

.first_bloc
{
    background-color: #F2F2F2;
    border-radius: 16px;
    width: 64.5%;
    margin-right: 3%;
    margin-bottom: 3%;
}

    .first_bloc h2
    {
        font-size: 20px;
        margin-left: 4%;
        margin-top: 4%;
    }

    .pictures 
    {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

    .first_bloc figure
    {
        width: 27.5%;
        overflow: hidden;
        margin-left: 1%;
        margin-right: 1%; 
        border-radius: 16px;
        border: 4px white solid;
        background-color: white;
        box-shadow: 6px 10px 14px 1px darkgray;
    }

    .first_bloc img
    {
        width: 100%;
        height: 128px;
        object-fit: cover;
        object-position: center;
    }

    .first_bloc figcaption
    {
        margin-left: 8px;
        width: 210px;
        background-color: white;
    }

    .first_bloc h3
    {
        font-weight: bolder;
        margin-bottom: 0px;
        padding-top: 8px;
        margin-top: 0px;
        font-size: 16px;
    }

    .first_bloc p
    {
        margin-bottom: 0px;
        margin-top: 6px;
        font-size: 13px;
    }

    .first_bloc i
    {
        font-size: 11px;
        color: #0065FC;
    }

    .greys_stars
    {
        display: inline-flex;
    }
        
        .greys_stars i
            {
                color:#F2F2F2;
            }

        /* Afficher plus */

details
{
    margin-left: 32px;
    margin-bottom: 32px;
    margin-top: 16px;
    font-weight: bold;
    font-size: 15px;
}

    details > summary:first-of-type 
    { 
        list-style-type: none;
    } 

        /* Les plus populaires */

.second_bloc
{
    display: inline-block;
    width: 30%;
    border-radius: 16px;
    background-color: #F2F2F2;
    margin-bottom: 3%;
    margin-right: 2%;

}

    .second_bloc h2
    {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 8%;
    }

        .second_bloc h2 i
        {
            color: black;
            font-size: 21px;
        }

    .second_bloc figure
    {
        display: flex;
        width: 83%;
        overflow: hidden;
        margin-top: 8%;
        margin-left: 8%;
        border-radius: 16px;
        border: 4px white solid;
        background-color: white;
        box-shadow: 6px 10px 14px 1px darkgray;
    }

    .second_bloc img
    {
        width: 36%;
        height: 122px;
        object-fit: cover;
        object-position: center;
    }

    .second_bloc figcaption
    {
        margin-left: 24px;
        width: 208px;
        background-color: white;
    }

    .second_bloc h3
    {
        font-size: 16px;
        margin-right: 40px;
        margin-top: 10px;

    }

    .second_bloc p
    {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .second_bloc i
    {
        color: #0065FC;
        font-size: 11px;
    }
        
        .greys_stars i
            {
                color:#F2F2F2;
            }

        /* Activités à Marseille */

section h2
{
    margin-left: 4%;
    font-size: 20px;
}

#last_bloc
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3%;
}

    #last_bloc h3
    {
        font-size: 17px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 5px;
    }
                      
    #last_bloc .column 
    {
        width: 27%;
    }
                      
        #last_bloc .column figure 
        {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 6px 10px 14px 1px darkgray;
        }
                      
            #last_bloc .column figure img 
            {
                width: 100%;
                height: 475px;
                object-fit: cover;
            }
                      
            #last_bloc .column figure figcaption 
            {
                padding: 10px;
                height: 30px;
            }
                  

                #last_bloc .column figure.figure--small img
                {
                    height: 200px;
                }

        /* Pied de page */

.footer_border
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F2F2F2;
}

    .footer_border ul
    {
        padding-left: 0%;
        margin-top: 2%;
    }

        .footer_border h4
        {
            font-size: 16px;
            margin-bottom: 5%;
        }

        .footer_border li
        {
            font-size: 14px;
            margin-top: 2%;
            list-style-type: none;
        }

        .footer_border .propos
        {
            padding-left: 1.8%;
        }

        .hebergement
        {
            margin-left: 19%;
        }

        .assistance
        {
            margin-left: 19%;
        }
    
        /* Media Queries Tablette*/

@media all and (max-width: 992px)
{
    .container_logo
    {
        margin-left: 0%;
    }
    .logo
    {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 14%;
    }

    .nav_menu
    {
        width: 100%;
        justify-content: center;
    }
                                        
    .menu
    {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-right: 0px;
        padding: 20px;
        border-bottom:#F2F2F2 solid;
    }
                                        
        .menu:focus
        {
            border-top: none;
            border-bottom: 2px #0065FC solid;
        }       
    
    #header
    {
        margin-top: 15px;
    }

        /* Barre de recherche */

    input
    {
        padding: 14.4px;
        width: 40%;
    }

    .container_recherche
    {
        padding-left: 4%;
    }

    .géoloc
    {
        padding: 16px;
    }	
    
    .recherche
    {
        padding-top: 12.8px; 
        padding-left: 16px;
        padding-bottom: 12.8px;
    }
                                        
    #search_responsive
    {
        padding-right: 16px;
        display: initial;
    }
                                        
    #search_desktop
    {
        display: none;
    }

        /* Flitres */

	.filtres span
    {
		width: 100%;
        margin-left: 10px;
		margin-bottom: 2%;

    }

	.filtres button
    {
		margin-left: 10px;
		margin-bottom: 2%;
    }	

        /* Main Bloc */

    .info
    {
        margin-left: 4%;
        margin-top: 1%;
    }
    
    #main_bloc
    {
        flex-wrap: wrap-reverse;
    }
    
        .first_bloc
        {
            width: 100%;
            background-color: white;
            margin-right: 0%;
            margin-bottom: 0%;
        }

            .first_bloc h2
            {
                margin-left: 2%;
                padding-top: 0%;
            }   

            .first_bloc figure
            {
                width: 27.5%;
                margin-right: 16px;
                box-shadow: 7px 11px 15px 1px rgba(114,113,111,0.52);
                margin-top: 3.2px;
                margin-left: 16px;
            }
    
            .first_bloc figcaption
            {
                width: 100%;
                font-weight: bold;
                padding-bottom: 8px;
            }
    
    
            .first_bloc img
            {
                height: 112px;
            }
    
            details
            {
                margin-left: 16px;
                margin-bottom: 16px;
            }
    
        /* Bloc 2 */

    .second_bloc
    {
        width: 100%;
        margin-right: 3%;
        background-color: #F2F2F2;
    }

        .second_bloc h2
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            margin-bottom: -30px;
            margin-inline: 2%;
            padding: 20px;
        }

            .second_bloc h2 i
            {
                padding: 0;
                margin: 0;
            }
        
        .second_bloc figure
        {
            width: 90%;
            margin-top: 3%;
            margin-left: 5%;
        }
        
        /* Last Bloc */

		#last_bloc
        {
			display: flex;
			flex-direction: column;
        }

            #last_bloc .column 
            {
                width: 100%;
            }

            #last_bloc .column figure img
            {
                height: 200px;
            }

            #last_bloc .column figure.figure--small img
            {
                height: 200px;
            }

}

        /* Media Queries Mobile */

@media all and (max-width: 768px)
{
    h1
    {
        margin-top: 35px;
    }

    header p
    {
        margin-top: 0%;
        margin-bottom: 25px;
    }

    .logo
    {
        display: block;
        width: 20%;
    }

    .recherche
    {
        width: auto;
        border-radius: 16px 16px 16px 16px;
    }
    
    .filtres span 
    {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    
    input
    {
        width: 80%;
    }

    .info
    {
        margin-top: 4%;
    }

        /* First Bloc */

    .first_bloc figure
    {
        width: 100%;
        margin-left: 1%;
        margin-right: 5%;
    }

    .second_bloc figure 
    {
        width: 87%;
    }

    .second_bloc h2
    {
        margin-bottom: -15px;
    }

        /* Last Bloc */

    #last_bloc
    {
        margin-bottom: 3%;
    }

        #last_bloc .column figure img
        {
            height: 150px;
        }

        #last_bloc .column figure.figure--small img
        {
            height: 150px;
        }
     
        /* Footer */

    .footer_border
    {
        flex-direction: column;
        height: auto;
    }

        .propos h4, .hebergement h4, .assistance h4
        {
            margin-bottom: 1%;
            padding: 0;
        }
        
        .propos, .hebergement, .assistance
        {
            margin: 1%;
            padding-left: 2%;
        }

        .assistance
        {
            margin-bottom: 5%;
        }
}